<% if !@campaign || !@user || (@unconfirmed_songs.empty? && @confirmed_songs.empty?) %>
  <h1>Oops, something went wrong...</h1>
<% else %>
  <h1><%= "Pledges for #{@campaign.name}" %></h1>

  <% curr_time = Time.now %>

  <% if @campaign.finished?(curr_time) %>
    <h2>This campaign has ended.</h2>
  <% else %>

    <% if !@unconfirmed_songs.empty? %>

      <h2>Confirm the following pledges to buy?</h2>
      <%= form_tag("/campaigns/#{@campaign.id.to_s}/pledges/#{@user.uuid}", method: :put) do %>
        <%= render partial: "shared/song_list", object: @unconfirmed_songs, locals: {
          campaign: @campaign, render_form: false, render_pledge_phase_links: false, render_buy_phase_links: false, render_stats: false
        } %>

        <div id="form-inputs">
          <%= submit_tag("Confirm all Pledges", class: "btn btn-primary") %>
        </div>
      <% end %>

    <% end %>

    <% if !@confirmed_songs.empty? %>

      <h2>You have already pledged to buy the following songs:</h2>
      <%= render partial: "shared/song_list", object: @confirmed_songs, locals: {
        campaign: @campaign, render_form: false, render_pledge_phase_links: false, render_buy_phase_links: false, render_stats: false
      } %>

    <% end %>

  <% end %>

<% end %>

<p class="pull-right">Return to the <%= link_to @campaign.name, @campaign %> page</p>
